* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --color-button : #11bddb;
    --primary : #0e3a97;
    --color-text-primary : #242424;
    --font-size : 1.5rem;
    --form-color : #ebf1fd;
}

body {
    padding : 1rem;
}

.hidden {
    display: none;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.main-content {
    border: 1px solid ;
    flex: 1;
    padding: 3%;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: var(--primary);
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

ol {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

li {
    font-size: 1.5rem;
}

section {
    flex: 1;
}

p {
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    color: var(--color-text-primary);
    padding: 1rem 0;

}

form {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    padding: 5%;
    margin : 2% 0;
    background-color: var(--form-color);
    border: 2px solid var(--primary);
    border-radius: 10px;
}

fieldset {
    border: none;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex-basis: 40%;
}

input {
    font-size: var(--font-size);
}
input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type="radio"] {
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

input[type="number"]:focus {
    border: 3px solid #555;
  }

.form-actions {
    display: flex;
    justify-content: end;
    padding-top: 1rem;
    gap: 1rem;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"] {
    background-color: var(--color-button);
    color: white;
    font-size: var(--font-size);
}

button[type="button"]:hover {
    background-color: #0056b3;
}

button[type="reset"] {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    font-size: var(--font-size);
}

button[type="reset"]:hover {
    background-color: #e0e0e0;
}

.form-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    padding: 4% 4% 1% 4%;
    margin : 2% 0;
    background-color: var(--form-color);
    border: 2px solid var(--primary);
    border-radius: 10px;
}

.form-result p {
    font-size: 2rem;
}

.form-result span {
    font-size: 4rem;
}

.form-download  {
    margin-top: 2rem;
    
}