* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --color-button : #11bddb;
    --primary : #0e3a97;
    --color-text-primary : #3d3d3d;
    --color-text-footer : #eef3ff ;
    --font-size : 1.5rem;
    --form-color : #ebf1fd;
}

/* Responsive */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

/*main */
main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}


.main-content {
    flex: 1;
    padding: 3%;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: var(--primary);
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

/* Keunggulan */

h2 {
    font-size: 2rem;
    color: var(--color-text-primary);
}

.hidden {
    display: none !important;
}
ol {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

li {
    font-size: 1.5rem;
    color: var(--color-text-primary);
}

/* section */
section {
    flex: 1;
}

p {
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    color: var(--color-text-primary);
    padding: 1rem 0;

}

/* Bagian Form */
form {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    padding: 5%;
    margin : 2% 0;
    background-color: var(--form-color);
    border: 2px solid var(--primary);
    border-radius: 10px;
}

fieldset {
    border: none;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex-basis: 40%;
}

input {
    font-size: var(--font-size);
}
input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type="radio"] {
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

input[type="number"]:focus {
    border: 3px solid #555;
  }

.form-actions {
    display: flex;
    justify-content: end;
    padding-top: 1rem;
    gap: 1rem;
}

/* Bagian Button */

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"] {
    background-color: var(--color-button);
    color: white;
    font-size: var(--font-size);
}

button[type="button"]:hover {
    background-color: #0056b3;
}

button[type="reset"] {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    font-size: var(--font-size);
}

button[type="reset"]:hover {
    background-color: #e0e0e0;
}

/* Bagian form hasil */

.form-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    padding: 4% 4% 1% 4%;
    margin : 2% 0;
    background-color: var(--form-color);
    border: 2px solid var(--primary);
    border-radius: 10px;
}

.form-result p {
    font-size: 2rem;
}

.form-result span {
    font-size: 4rem;
}

.form-download  {
    margin-top: 2rem;   
}

.form-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 4% 4% 4% 4%;
    margin : 2% 0;
    background-color: var(--form-color);
    border: 2px solid var(--primary);
    border-radius: 10px;
}
#form-general  p {
    padding: 0;
}

/* Footer */
footer {
    height: 200px;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
}

footer.image {
    display: flex;
}

footer p {
    color: var(--color-text-footer);
}

.copyright-logo {
    font-size: 1rem;
    color :var(--color-text-footer);
}